tqdm
glob2
keyboard
numpy
pandas
scipy
matplotlib
librosa==0.9.1
mediapipe==0.8.9.1
moviepy==1.0.3
paddleocr==2.5.0.3
PyAudio==0.2.11
sk_video==1.1.10
SoundFile==0.10.3.post1
tensorflow==2.6.0
webrtcvad==2.0.10